<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Title</title>
        <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    </head>
<body>
    <button id="all_move1" >按钮 1</button>
    <button id="all_move2" onclick="danji()" >点击按钮 2</button>

<script>
    console.log($('#all_move1'));   //打印日志，从检查中可以查看日志
    //绑定‘单击事件’的 jQuery
    $('#all_move1').click(function(){

    alert('AA');
    })

    //绑定‘单击事件’的 jQuery
    $('#all_move2').bind('click',function(){
    alert('BB');
    })

    //绑定‘单击事件’的 javascript
    document.getElementById('all_move1').onclick=function(){
        alert('CC');
    }

    //函数式
    function danji(){
        alert('DD');
    }

</script>
</body>
</html>